@use "./colors.scss" as *;
@use "./typography.scss" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(Hero, cr);
// @include grid(2, 2, fr, 1rem)

:root {
    --container-width: 90%;
    --Header-hight: #{toRem(80px)};

    --radius: #{toEm(8px)};
    --shadow: 0 6px 30px rgba(0, 0, 0, 10%);
    --margin: min(12em, 12vh);
    --gap: 1rem;
    --icon-size: 1rem;
    --icon-clr: var(--txt-clr);

    --animation: cubic-bezier(0.4, 0, 0.2, 1);
    --time-fast: 0.2s;
    --time-slow: 0.4s;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:before,
:after {
    text-decoration: inherit;
    vertical-align: inherit;
}
html,
html:focus-within {
    scroll-behavior: smooth;
    text-size-adjust: none;
    font-size: 100%;
    cursor: default;
    overflow-wrap: anywhere;
    tab-size: 4;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    scroll-padding: var(--Header-hight);
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body {
    height: 100%;
    max-width: 100%;
    overflow-x: clip;
    background-color: var(--bg-clr);
}
.Container {
    height: 100%;
    width: var(--container-width, 90%);
    margin-inline: auto;
}
li,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
}
::-moz-focus-inner {
    border: none;
}
:focus {
    outline: none;
}
.focus {
    --focus-ring-clr: var(--accent-clr, hsla(0, 0%, 50%, 0.5));
    box-shadow: var(--focus-shadow, 0 0 0 transparent),
        0 0 0 -0.6em var(--bg-clr), 0 0 0 -0.8em var(--focus-ring-clr);
    transition: box-shadow var(--time-fast) var(--animation);
}
.focus:focus-visible {
    outline: 2px solid transparent;
    box-shadow: var(--focus-shadow, 0 0 0 transparent),
        0 0 0 0.25em var(--bg-clr), 0 0 0 0.45em var(--focus-ring-clr);
}
:disabled,
.disabled {
    --focus-ring-clr: hsla(0, 0%, 50%, 0.5);
    filter: grayscale(80%);
    opacity: 0.8;
    cursor: not-allowed !important;
}
input,
textarea,
a,
select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    font-weight: var(--fw-b);
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    user-select: none;
    object-fit: cover;
    object-position: center;
    box-shadow: none;
    pointer-events: none;
    isolation: isolate;
}
svg,
.svg {
    width: var(--icon-size);
    height: var(--icon-size);
    aspect-ratio: 1;
    fill: var(--icon-clr);
    color: var(--icon-clr);
}
// .input-wrapper {
//     width: 100%;
//     position: relative;
//     @include flex(c, sb, fs);
//     gap: 0.2em;
//     margin-block-start: 0.6em;
//     #input-date {
//         cursor: pointer;
//     }
// }
// .form-input {
//     border: 0.1em solid var(--mono-clr);
//     border-radius: var(--radius);
//     padding: 0.35em 0.55em;
//     width: 100%;
//     background-color: var(--bg-clr);
//     caret-color: var(--primary-clr-600);
//     box-shadow: 0 0 0 -0.1em var(--bg-clr), 0 0 0 -0.2em var(--primary-clr-600);
//     transition: box-shadow var(--time-fast) var(--animation);
// }
// .form-label {
//     position: relative;
//     text-transform: uppercase;
//     font-size: 0.7em;
//     letter-spacing: 0.05em;
//     margin-inline: 0.45em;
//     padding: 0.1em 0.35em;
// }
// .form-label.required::after {
//     content: "*";
//     position: absolute;
//     top: -10%;
//     right: -3px;
//     font-size: 1em;
//     color: var(--error-clr);
//     user-select: none;
// }
// .form-input:focus {
//     outline: none;
//     box-shadow: 0 0 0 0.2em var(--bg-clr), 0 0 0 0.3em var(--primary-clr-600);
// }
// .form-input::placeholder {
//     user-select: none;
// }
// .form-input::selection {
//     background: var(--primary-clr-600);
//     color: var(--bg-clr);
// }
// form {
//     @include flex(c, c, fs);
//     font-size: var(--fs-s);
//     gap: 0.8em;
//     text-align: left;
//     p[date-form-error="waiting"] {
//         color: var(--txt-clr);
//     }
//     p[date-form-error="error"] {
//         color: var(--error-clr);
//     }
//     p[date-form-error="success"] {
//         color: var(--success-clr);
//     }
// }
.button {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    display: inline-flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    appearance: button;
    padding: max(0.85em, 0.85rem) max(2em, 2rem);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: var(--fw-m);
    font-size: var(--fs-s);
    line-height: 1;
    letter-spacing: #{toRem(0.5px)};
    outline: none;
    border: none;
    border-radius: var(--radius);
    background-color: var(--accent-clr, hsla(0, 0%, 100%, 0));
    color: var(--btn-txt-clr, hsl(220, 13%, 5%));
    transition: all var(--time-fast) var(--animation);
    --focus-shadow: var(--shadow);
}
.button.icon-only {
    padding: max(1em, 1rem);
    box-shadow: none;
}
.btn-primary {
    background: var(--radial-gradient-primary);
    --accent-clr: var(--primary-clr-600);
    --btn-txt-clr: var(--bg-clr);
}
.btn-contrast {
    background: var(--radial-gradient-contrast);
    --accent-clr: var(--contrast-clr-600);
    --btn-txt-clr: var(--bg-clr);
}
.btn-mono {
    background: var(--linear-gradient-dark);
    --accent-clr: var(--txt-clr);
    --btn-txt-clr: var(--bg-clr);
}

// .Button:has(img, svg) {
// }
// .Button:where(:hover, :active):not(:has(img, svg)) {
// }
// .Button:has(img, svg):where(:hover, :active) {
// }
.button:active {
    transform: scale(0.95);
}
:where(.button:not(:last-of-type)) {
    margin-right: var(--gap);
    margin-top: 0;
}

.avatar-group {
    --avatar-size: 0.7em;
    display: inline-flex;
    transform: rotate(2deg);
    ul {
        @include flex(r, c, c);
        margin-inline: 0.15em;
        li {
            @include flex(r, c, c);
            background-color: var(--contrast-clr-100);
            border-radius: 50%;
            overflow: hidden;
            height: var(--avatar-size);
            width: var(--avatar-size);
            margin-left: -0.15em;
            margin-right: -0.15em;
            box-shadow: 2px 2px 20px 5px rgb(0, 0, 0, 0.12);
            isolation: isolate;
            transform: rotate(5deg);
            transition: transform var(--time-fast) var(--animation);
            img {
                height: 70%;
                filter: grayscale(20%);
            }
        }
    }
}

// .txt-animation {
//     opacity: 0.4;
//     transform: translateX(-25%);
//     animation: text-animation calc(var(--time-slow) * 2.5) var(--animation)
//         forwards;
// }
// .loeadToDown {
//     transform: translateY(-100%);
//     opacity: 0.5;
//     animation: loeadToDown calc(var(--time-slow) * 2) var(--animation) forwards;
// }
// @keyframes navSlideIn {
//     0% {
//         transform: translateY(-125%);
//     }
//     100% {
//         transform: translateY(0%);
//     }
// }
// @keyframes navSlideOut {
//     0% {
//         transform: translateY(0%);
//     }
//     100% {
//         transform: translateY(-125%);
//     }
// }
// @keyframes loeadToDown {
//     0% {
//         opacity: 0.5;
//         transform: translateY(-100%);
//     }
//     100% {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }
// @keyframes text-animation {
//     from {
//         opacity: 0.4;
//         transform: translateX(-25%);
//     }
//     to {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

// // screen reader Edge
// :has(.msreadout-word-highlight) {
// }
// // screen reader chrome
// :has([cvoxignore]) {
// }
.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
// .no-scroll {
//     height: 100vh !important;
//     overflow: hidden !important;
// }
// .accent-X-clr {
//     --accent-clr: var(--accent-X-clr);
//     --accent-shadow-clr: var(--clr-teal-blue-500);
// }
